@import url(./systems.css);

body {
  color: #b7bfc9;
  /* font-family: var(--general-font); */
  font-family: var(--safe-font);
  /* font-size: 0.9rem; */

  overflow-y: hidden;
  width: max-content;
}

.main-grid {
  background-color: rgb(28, 41, 53);

  height: 100vh;
  width: 100vw;
  
  display: grid;
  /* grid-template: 40px auto / 300px auto; */
  grid-template: var(--sF) auto / var(--sM) auto;
  grid-template-areas: 
    "header header"
    "left-bar main-content-area";
  gap:var(--sB);
}

/* Header */

.main-grid > header {
  background-color: rgb(114, 44, 44);
  /* height: 40px; */
  /* height: var(--sG); */
  grid-area: header;
  border-bottom: var(--main-components-border);
}

/* Left bar */

.left-bar {
  /* background-color: rgb(63, 63, 80); */
  /* width: 300px; */

  grid-area: left-bar;
  overflow: auto;
  border-radius: var(--general-border-radius);
  border: var(--main-components-border);
}

.left-bar > * {
  /* padding: 1var(--general-border-radius); */
}

.search {
  /* height: 80px; */
  height: var(--sG);

  display: flex;
  align-items: center;
  justify-content: center;
}

.search, .search > input {
  background-color: rgb(112, 158, 112);
}

.search input, .search input::placeholder {
  color: white;
}

.sessions-container {
  /* background-color: rgb(150, 120, 125); */
}

.sessions-list > li {
  /* padding-bottom: 10px; */
  border-bottom: var(--main-components-border);
  /* margin-bottom: 10px; */
}

.session-list-element {
  /* color:blue; */
  /* background-color: salmon; */
  /* border: 1px solid black; */
  cursor: pointer;
}
.session-list-element * {
  cursor: pointer;
}


/* Main area */

.main-content-area {
  background-color: rgb(28, 41, 53);
  display: grid;
  grid-area: main-content-area;
  /* grid-template: 40px auto 30vh / auto 300px; */
  grid-template: var(--sF) auto 30vh / auto var(--sM);
  grid-template-areas: 
    "content-header content-header"
    "player main-right-bar"
    "extra-info main-right-bar";
  /* margin: 10px; */
  border: var(--main-components-border);
  border-radius: var(--general-border-radius);
}

.main-content-area > * {
  /* padding: 10px */
}

/* Main Content Area Header  */

.main-content-area > header {
  grid-area: content-header;
  background-color: rgb(105, 112, 105);
  display: flex;
  align-items: center;
  padding: var(--sA);
  border-bottom: var(--main-components-border);
}

/* Player */

#replayer {
  /* background-color: orange; */
  width: auto;
  height: auto;
  /* border: 1px solid brown; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--main-components-border);
}

/* .player {
  background-color: rgb(67, 102, 168);
  grid-area: player;
  min-width: 500px;
}

.screen {
  border: 1px solid white;
  border-radius: var(--general-border-radius);
  width: 100%;
  height: 95%;
} */

/* .player-controls {
  grid-area: player-controls;
  background-color: rgb(194, 126, 0);
} */

/* .controls {
  display: flex;
} */

/* .right-controls {
  margin-left: auto;
} */



/* Extra info */

.extra-info {
  grid-area: extra-info;
  /* background-color: rgb(108, 160, 31); */
  overflow: auto;
  padding: var(--sB);
}

.extra-info-tab-controls {
  display: flex;
  max-height: var(--sG);
  border-bottom: var(--main-components-border);
}

.tab-button {
  background-color:  rgb(89, 137, 153);
  /* border-radius: var(--general-border-radius) var(--general-border-radius) 0px 0px; */
  /* border-radius: 20px; */
}

.extra-info-tab-controls .tab-button:first-child {
  border-top-left-radius: var(--general-border-radius);
}

.extra-info-tab-controls .tab-button:nth-child(3) {
  border-top-right-radius: var(--general-border-radius);
}

.extra-info-search {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Extra info -- requests table */

.network-requests {
  /* border: 1px solid salmon; */
  width: 100%;
  height: 100%;
}

.network-requests tr, th, td {
  border: var(--main-components-border);
}

.network-requests th {
  background-color: rgb(92, 144, 161);
}

.network-requests th, .network-requests td {
  padding: var(--sA);
}


th {
  text-align: left;
  /* max-width: 10px; */
}


.network-requests td, .network-requests th {
  text-align: center;
  /* max-width: var(--sA); */
}

td.request-name {
  text-align: left;
}

/* Extra Info Logs */

.logs-list {
  display: flex;
  flex-direction: column;
}

.log {
  border-right: var(--main-components-border);
  border-left: var(--main-components-border);
  border-bottom: var(--main-components-border);
  display: flex;
  /* justify-content: space-evenly; */
  padding: var(--sA);
  gap: var(--sB);
  font-family: 'Courier New', Courier, monospace;
}

/* Extra Info Errors  */

.errors-list {
  display: flex;
  flex-direction: column;
}

.error {
  border-right: var(--main-components-border);
  border-left: var(--main-components-border);
  border-bottom: var(--main-components-border);
  display: flex;
  /* justify-content: space-evenly; */
  padding: var(--sA);
  gap: var(--sB);
}

/* Main content right bar */

.main-right-bar {
  grid-area: main-right-bar;
  /* background-color: darkslateblue; */
  padding: var(--sB);
  border-left: var(--main-components-border)
}