@import url(./systems.css);

body {
  color: var(--general-font-color);
  font-family: var(--general-font);
  font-size: var(--frB);
  font-weight: var(--base-font-weight);

  width: max-content;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.main-grid {
  height: 100vh;
  width: 100vw;
  
  display: grid;

  grid-template: var(--sF) auto / var(--sL) auto;
  grid-template-areas: 
    "header header"
    "left-bar main-content-area";
  column-gap:var(--sC);

}

input {
  padding: var(--sA);
  border: 1px solid var(--table-key)
}

/* Header */

.site-header {
  grid-area: header;
  border-bottom: var(--main-components-border);
  padding: var(--sB);
  display: flex;
  align-items: center;
  gap: var(--sB);
  background-color: var(--light-background-color);
  letter-spacing: 0.1rem;
}

.site-logo {
  height: var(--sE);
}

.site-header .project-name {
  font-size: var(--fF);
  font-weight: 600;
}

.site-header .project-id {
  font-size: var(--fD);
}

.logout-button {
  margin-left: auto;
  margin-right: var(--sD);
  background-color: transparent;
  border: var(--main-components-border);
  border-radius: var(--general-border-radius);
  padding: var(--sA) var(--sC);
  color: var(--main-app-color);
  box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.5);
}

.logout-button:hover {
  background-color: var(--complementary);
  color: var(--cK);
  border-color: transparent;
  cursor: pointer;
}

/* Left bar */

.left-bar {
  grid-area: left-bar;
  overflow: auto;
  border-right: var(--main-components-border);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

/* Left Bar Search */

.search {
  height: var(--sG);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--main-components-border);
  border-left: var(--main-components-border);
  gap: var(--sB);
}

.search > input {
  background-color: transparent;
  color: var(--general-font-color);
  width: 160px;
}

.feather.error {
  background-color: none;
  background: none;
}

.only-error-sessions.active {
  stroke: var(--complementary);
  fill: var(--complementary);
}

/* Session List */

.sessions-list li {
  border-bottom: var(--main-components-border);
}

.session-list-element {
  cursor: pointer;
  padding: var(--sB) var(--sC);
  border-left: var(--main-components-border);
  display: flex;
  flex-direction: column;
  gap: var(--sA);
  font-size: var(--fA);
  background-color: var(--light-background-color);
}

.session-list-element .id {
  font-size: var(--fC);
  font-weight: 600;
}

.session-list-element .time {
  margin-bottom: var(--sB);
  color: var(--low-contrast-font);
}

.session-list-element .search-ip {
  font-size: var(--fC);
  color: var(--complementary);
}

.session-element-latency-chart {
  display: flex;
}

.session-element-latency-chart .latency {
  font-size: var(--sB);
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 600;
}


.session-list-element.active {
  border-left: 7px solid var(--complementary);
  padding-left: calc(var(--sC) - 6px);
}

.session-list-element * {
  cursor: pointer;
}

.session-list-element:hover {
  background-color: var(--table-key);
}

.session-numbers {
  display: flex;
  align-items: center;
  gap: var(--sA);
}

.session-numbers p {
  width: 50px;
}

.session-numbers svg {

  padding: 0px;
  height: var(--sC);
}

.session-numbers .number {
  font-size: var(--fB);
  margin-left: var(--sA);
}

.session-numbers .numbers-duration {
  width: 60px;
}

/* Main area */

.main-content-area {
  display: grid;
  grid-area: main-content-area;
  grid-template: var(--sF) var(--sM) 521px / auto var(--sM);
  grid-template-areas: 
    "content-header content-header"
    "player-area main-right-bar"
    "extra-info main-right-bar";

  border: var(--main-components-border);

  border-top-left-radius: var(--general-border-radius);
  margin-top: var(--sC);
  margin-right: var(--sC);
  margin-bottom: var(--sC);
}

/* Main Content Area Header  */

.main-content-area > header {
  background-color: var(--light-background-color);
  grid-area: content-header;
  display: flex;
  align-items: center;
  padding: var(--sC);
  border-bottom: var(--main-components-border);
  gap: var(--sB);
}

.header-session-id {
  font-weight: 600;
}

/* Player */

#replayer {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.player-controls {
  margin-top: auto;
  background-color: var(--cK);
  height: var(--sE);
  overflow-x: auto;
}

/* Extra info */

.extra-info {
  grid-area: extra-info;
  padding: var(--sD);
  background-color: var(--light-background-color);
  border-top: var(--main-components-border);
}

.extra-info-content {
  background-color: var(--background-color);
}

.extra-info-search svg {
  margin-right: var(--sA);
}

.extra-info-tab-controls {
  display: flex;
  border-bottom: var(--main-components-border);
}

.tab-button {
  background-color: var(--cK);
  color:  rgb(66, 133, 155);
}

.extra-info-tab-controls .tab-button:first-child {
  border-top-left-radius: var(--general-border-radius);
}

.extra-info-tab-controls .tab-button:nth-child(3) {
  border-top-right-radius: var(--general-border-radius);
}

.extra-info-search {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--sA);
}

.extra-info-search input {
  color: var(--general-font-color);
  width: var(--sL);
  background-color: var(--background-color);
  margin-bottom: var(--sB);
}

.extra-info-search .feather-search {
  margin-bottom: var(--sB);
}

.extra-info-content th:first-child {
  width: var(--sG);
}

.extra-info-content th:nth-child(2),
.console-logs-type-header {
  width: var(--sI);
}

.errors-list th:nth-child(2) {
  width: var(--sK);
}

.errors-list-trigger-header {
  width: var(--sK);
  background-color: aqua;
}

/* Extra info -- requests table */

.network-requests, .console-logs, .errors-list {
  width: 100%;
}

.extra-info td {
  cursor: pointer;
}

.network-requests tr, 
.console-logs tr,
.errors-list tr {
  border: var(--main-components-border);
}

.network-requests th, 
.console-logs th,
.errors-list th {
  background-color: var(--cK);
  color: var(--cD);
}

.network-requests th, .network-requests td, 
.console-logs th, .console-logs td,
.errors-list th, .errors-list td {
  padding: var(--sB);
}

.network-requests td, 
.network-requests th,
.console-logs td,
.console-logs th,
.errors-list td,
.errors-list th {
  text-align: center;
}

td.request-name {
  text-align: left;
}


/* Method colors */

.POST {
  color: var(--post-color);
}

.GET {
  color: var(--get-color);
}

.DELETE {
  color: var(--delete-color);
}

.PUT {
  color: var(--put-color);
}

.PATCH {
  color: var(--patch-color);
}

.HEAD {
  color: var(--head-color);
}

/* Extra Info Logs */


.log-content, .error-trigger {
  font-family: 'Courier New', Courier, monospace;
}

/* Extra Info Errors  */

.log:hover,
.request:hover,
.error:hover {
  cursor: pointer;
  background-color: var(--table-key);
}

/* Main content right bar */

.main-right-bar {
  grid-area: main-right-bar;
  padding: var(--sC);
  border-left: var(--main-components-border);
  display: flex;
  flex-direction: column;
  gap: var(--sD);
  min-height: 90vh;
}

#map {
  height: var(--sJ);
}

#map svg {
  position: absolute;
  opacity: 0;
}

.leaflet-control-attribution.leaflet-control {
  font-size: var(--sB);
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.main-right-bar-session-details {
  display: flex;
  flex-direction: column;
  gap: var(--sD);
  border: var(--main-components-border);
  border-radius: var(--general-border-radius);
  padding: var(--sC);
  background-color: var(--light-background-color);
}

.main-right-bar-session-details h2 {
  color: var(--complementary);
  font-weight: bold;
  font-size: var(--fE);
}

.main-right-bar-session-details td {
  padding-bottom: var(--sC);
}

.main-right-bar-key {
  color: var(--table-key);
}

.main-right-bar-session-tabs-buttons {
  display: flex;
}

.events-search {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--sA);
}

.events-search input {
  background-color: transparent;
  color: var(--general-font-color);
  margin-bottom: var(--sB)
}

.events-search .feather-search {
  margin-bottom: var(--sB)
}

.main-right-bar-session-tabs-content {
  border: var(--main-components-border);
  border-bottom-right-radius: var(--general-border-radius);
  border-bottom-left-radius: var(--general-border-radius);
  border-top-right-radius: var(--general-border-radius);
  max-height: var(--sM);
  overflow: auto;
  background-color: var(--light-background-color);
}

.main-right-bar-session-tabs-content ul {
  display: flex;
  flex-direction: column;
  height: 350px;
}

.main-right-bar-session-tabs-content ul li {
  border-bottom: var(--main-components-border);
  padding-left: var(--sB); 
  border-color: var(--cJ);
}


.main-right-bar-session-tabs-container .tab-button {
  border-top-right-radius: var(--general-border-radius);
  border-top-left-radius: var(--general-border-radius);
  cursor: default;
}

.main-right-bar-session-tabs-container .tab-button:hover {
  background-color: var(--cK);
}

.right-bar-event-element:hover {
  background-color: var(--table-key);
}

.right-bar-event-element div {
  display: flex;
  gap: var(--sF);
  align-items: center;
  padding: var(--sB)
}

.right-bar-event-element div p {
  width: var(--sE);
}

/* Notification */

.notification {
  position: absolute;
  width: var(--sM);
  height: var(--sF);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 35vw;
  opacity: 0;
}

.notification.fail {
  opacity: 1;
  background-color: rgb(179, 72, 90);
  color: rgb(36, 2, 2);
}

.notification.success {
  opacity: 1;
  background-color: lightgreen;
  color: rgb(31, 29, 39);
}
