@import url(./systems.css);

[class*="feather"]{
  width: var(--sC);
  stroke: var(--general-font-color);
}

[class*="network"]{
  fill: rgb(184, 184, 184);
}
[class*="error"],
[class*="load"], 
[class*="custom"] 
{
  fill: rgb(148, 148, 148);
}

[class*="snapshot"],
[class*="mouse"],
[class*="meta"]
{
  stroke: rgb(148, 148, 148);
}

[class*="plugin"]{
  fill: none;
}

[class*="user"]{
  stroke: rgb(148, 148, 148);
  width: var(--sC);
}
