@import url(systems.css);
/* Overlay and Modal */

.modal-overlay {
  transition: all 0.2s;
}

.modal-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal {
  position: absolute;
  background-color: var(--background-color);
  width: 76vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
  top: 5vh;
  /* left: 20%; */
  left: 10vw;
  padding: var(--sD);
  padding-top: var(--sD);
  border-radius: var(--general-border-radius);
  color: var(--light-font);
  overflow-y: auto;
  align-items: start;
  justify-content: stretch;
  align-items: stretch;
  gap: var(--sC);
  border: var(--main-components-border);
}

.modal button {
  align-self: end;
  position: relative;
  /* top: -25px; */
  cursor: pointer;
}

.modal .modal-close {
  margin-left: auto;
  margin-right: var(--sD);
  background-color: transparent;
  border: var(--main-components-border);
  border-radius: var(--general-border-radius);
  padding: var(--sA) var(--sB);
  color: var(--main-app-color);
  box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.5);
}

.modal .modal-close:hover {
  background-color: var(--complementary);
  color: var(--cK);
  border-color: transparent;
  cursor: pointer;
}

.modal button:hover {
  background-color: #4b6c86;
}

.modal .trigger-title {
  font-size: var(--sE);
  font-weight: bold;
}

.modal .trigger-subtitle {
  font-size: var(--sC);
  color: var(--low-contrast-font);
}

/* .modal .trigger-line-number {
  color: var(--general-font-color);
} */

.modal .data-container {
  display: flex;
  /* justify-content: ; */
}

.data-container h2 {
  margin-bottom: var(--sA);
}

.modal .metadata, .modal .last-three-events {
  border: var(--main-components-border);
  /* width: var(--sH); */
  /* padding: var(--sB); */
}

.modal .last-three-events {
  width: var(--sM);
}

.modal .last-three-events > h2, 
.modal .metadata > h2 {
  background-color: var(--cK);
  padding: var(--sA);
}

.modal .right-bar-event-element {
  padding: 0 var(--sA);
}

.modal .metadata {
  width: var(--sO);
  flex: 1;
}

.modal .metadata td, .modal .metadata h2 {
  padding: var(--sA);
}

.modal .stacktrace {
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--sC);
  /* display: flex; */
  /* flex-direction: column; */
  background-color: rgb(15, 15, 15);
}

.modal .stacktrace th,
.modal .stacktrace td {
  padding: var(--sA);
}

.modal .stacktrace tbody td {
  border-bottom: 1px solid rgb(51, 51, 51);
}

.modal .stacktrace thead {
  font-family: var(--general-font);
  background-color: var(--cK);
}

.stacktrace .trace-header-index {
  width: var(--sD);
}

.stacktrace .trace-header-function {
  width: var(--sF);
}

.stacktrace .trace-header-function,
.stacktrace .trace-header-link {
  text-align: left;
}

.stacktrace .trace-index {
  text-align: center;
}

.stacktrace .trace-index {
  color: var(--low-contrast-font);
}

.stacktrace .trace-function {
  color: var(--complementary);
}

.stacktrace .trace-link {
  /* text-decoration: underline; */
}




