@import url(./systems.css);

html.light-theme {
  --main-app-color: var(--cE);
  --background-color: rgb(235, 235, 235);
  --light-background-color: rgb(247, 247, 247);
  --general-font-color: rgb(36, 36, 36);
  --cK: var(--cA);
  --tab-background: var(--cA);
  --table-header-color: var(--cJ);
  --map-filter: none;

  --get-color:rgb(38, 150, 86);
  --post-color:rgb(235, 144, 25);
  --put-color: rgb(41, 135, 206);
  --delete-color:rgb(199, 52, 69);
  --patch-color:rgb(0, 170, 156);
  --head-color:rgb(171, 62, 238);

  --stack-trace-background: rgb(233, 233, 233);
  --stack-trace-trigger: rgb(0, 160, 160);
  --subtle-shadow: 0 4px 4px rgba(59, 59, 59, 0.1);

  --input-color: rgb(0, 160, 160);
}