@import url(systems.css);

.tab-button {
  border: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: var(--fC);
}

.tab-button:hover {
  background-color: #e6813a;
}

.tab-button.active {
  background-color: #e6813a;
  border-bottom-color: #e6813a;
  color: rgb(233, 231, 231);
}

.content {
  display: none;
}

.content.active {
  display: block;
}