.wrapper {
  /* width: 590px; */
  /* margin: auto; */
  /* background-color: white; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, .1); */
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  /* letter-spacing: 3px; */
  border: none;
  /* padding: 10px; */
  /* background-color: #bccbe9; */
  /* color: #232c3d; */
  /* font-size: 18px; */
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #d5e3ff;
}

button.active {
  background-color: white;
}

.active {
  /* background-color: white; */
}

p {
  text-align: left;
  padding: 10px;
}

.content {
  display: none;
  /* padding: 10px 20px; */
}

.content.active {
  /* display: block; */
}